:root {
    --cor01-: #005223;
    --cor02-: #d11313;
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    background-color: whitesmoke;
    border: solid 1px var(--cor01-);
    padding: 50px 0px 50px 50px;
    display: flex;
    border-radius: 16px;
    align-items: center;
}

html {
    height: 100%;
}

body {
    font-family: "Space Grotesk", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
}

.input-and-label {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 8px;
}

.title {
    font-size: 32px;
    margin-bottom: 16px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-right: 50px;
}

.exibir {
    background-color: #005223;
    height: 100%;
    padding: 50px;
    width: 400px;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

input {
    height: 25px;
    border: none;
    padding: 15px 25px;
    border: solid 1px var(--cor01-);
    border-radius: 5px;
}

button {
    border: none;
    background-color: var(--cor01-);
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
}